::-webkit-scrollbar {
    width: 10px;   
}

::-webkit-scrollbar-track {
    background-color: #f4effa;
}

::-webkit-scrollbar-thumb {
    background-color: #5a189a;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3c096c;
}

::selection {
    color: #f4effa;
    background-color: #7b2cbf;
}

article {
    font-size: 13px;
}

.second-font {
    font-family: "Josefin Sans", sans-serif;
    font-size: 45px;
    font-weight: 900;
}

.manage {
    background-image: url(../Image/bg_3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
}

.manage .container {
    backdrop-filter: blur(50px);
}

.manage .container .manage-form {
    height: 100%;
}

.form-control {
    background-color: rgb(235, 235, 235);
    border-width: 0px;
}

.form-control:focus {
    background-color: rgb(235, 235, 235);
    box-shadow: 0 0 0 0.75px rgba(0, 0, 0, 0.5);
}

.Prod {
    background-color: rgb(200, 177, 228) !important;
}

.Prod .container .row .card {
    box-shadow: 0 5px 17px -10px rgba(0, 0, 0 );
}